<div class="div">
  <div class="div-2">
    <div class="builder-columns columns">
      <div class="builder-column column">
        <div class="image">
          <img src={{companyLogo}} class='image-2'/>
          <div class="builder-image-sizer image-sizer"></div>
        </div>
      </div>

      <div class="builder-column column-2">
        <div class="div-3">
          <div class="div-4">
            <p><strong>{{ companyName }}</strong></p>
          </div>

          <div class="div-5">{{ companyEmail }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-6"></div>
  <div class="div-7">
    <div class="div-8">
      <div class="div-9">
        <p><strong>Course Attendance Verification</strong></p>
      </div>
      <div class="div-10">
        <div class="div-11">
          <div class="builder-columns columns">
            <div class="builder-column column-3">
              <div class="div-12">
                <div class="div-13">
                  <div class="div-14">
                    <p>
                      <strong>Participant</strong>
                      : {{ userName }}
                    </p>
                  </div>

                  <div class="div-15">
                    <p>
                      <strong>State / License</strong>
                      : AR /Dentist
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="builder-column column-4">
              <div class="div-16">
                <div class="div-17">
                  <p>
                    <strong>Course Location</strong>
                    : Online
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-18">
    <div class="div-19">
      <div class="builder-columns columns">
        <div class="builder-column column-5">
          <div class="div-20">
            <div class="div-21">
              <div class="div-22">
                <p><strong>Date</strong></p>
              </div>

              <div class="div-23">06/18/2021</div>
            </div>
          </div>
        </div>

        <div class="builder-column column-6">
          <div class="div-24">
            <div class="div-25">
              <div class="course-title-verification-cod">
                <p><strong>Course Title, Verification Code, Time</strong></p>
              </div>

              <div class="hurts-so-swell-management">
                Hurts So... Swell! Management of Acute Dental Pain And
                Appropriate Opioid Prescribing Practices VBP 06-18-2021
              </div>
            </div>
          </div>
        </div>

        <div class="builder-column column-7">
          <div class="div-26">
            <div class="div-27">
              <div class="div-28">
                <p><strong>Presenter(s)</strong></p>
              </div>

              <div class="div-29">Dr Tom Viola</div>
            </div>
          </div>
        </div>

        <div class="builder-column column-8">
          <div class="div-30">
            <div class="div-31">
              <div class="div-32">
                <p><strong>CE Credits</strong></p>
              </div>

              <div class="div-33">3.0</div>
            </div>
          </div>
        </div>

        <div class="builder-column column-9">
          <div class="div-34">
            <div class="div-35">
              <div class="div-36">
                <p><strong>AGD Code</strong></p>
              </div>

              <div class="div-37">340</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-38"></div>
  <div class="columns-2">
    <div class="builder-columns columns">
      <div class="builder-column column-10">
        <div class="div-39">
          <div class="builder-columns columns">
            <div class="builder-column column-11">
              <div class="div-40">
                <div class="div-41">
                  <div class="div-42">
                    <p>
                      <strong>Education Method:</strong>

                      Self Study
                    </p>
                  </div>

                  <div class="div-43">
                    <p>
                      <strong>Education Type:</strong>

                      Self Study
                    </p>
                  </div>

                  <div class="comprehension-test-status-pas">
                    <p>
                      <strong>Comprehension Test Status</strong>

                      : Passed
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{{ certificateSigner }}}

    </div>
  </div>
  <div class="this-activity-has-been-planned">
    This activity has been planned and implemented in accordance with the
    standards of the Academy of General Dentistry Program Approval for
    Continuing Education (PACE) through the joint program provider approval of
    CE Zoom, LLC and Pharmacology Declassified. CE Zoom, LLC is approved for
    awarding FAGD/MAGD credit.
  </div>
  <div class="div-53">
    {{{ providersLogos }}}
  </div>
  <div class="please-retain-this-document-fo">
    <p><strong>Please retain this document for your records.</strong></p>
  </div>
  <div class="div-57">
    <p>
      <span style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255)">
        {{disclaimer}}
      </span>
    </p>
  </div>
</div>
<style>
  .div {
    display: flex;
    flex-direction: column;
    max-width: 1013px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: -2px;
  }
  .div-2 {
    display: flex;
    flex-direction: column;
    max-width: 952px;
    margin-left: -1px;
    padding-left: 0px;
  }
  .columns {
    display: flex;
  }
  @media (max-width: 999px) {
    .columns {
      flex-direction: column;
      align-items: stretch;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(34.02% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column {
      width: 100%;
    }
  }
  .image {
    display: flex;
    position: relative;
    min-width: 300px;
    min-height: 20px;
    max-width: 500px;
    width: 100%;
    margin-right: -1px;
    height: 100px;
    flex-grow: 1;
  }
  .image-2 {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 470.05999999999995%;
    pointer-events: none;
    font-size: 0;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(67.17% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    max-width: 624px;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-left: -1px;
    margin-top: 18px;
  }
  .div-4 {
    max-width: 616px;
    color: rgba(40, 40, 40, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: right;
    font-family: Nunito Sans, sans-serif;
  }
  .div-5 {
    max-width: 616px;
    margin-top: 8px;
    color: rgba(85, 85, 85, 1);
    font-size: 18px;
    letter-spacing: 0%;
    text-align: right;
    font-family: Nunito Sans, sans-serif;
  }
  .div-6 {
    display: flex;
    max-width: 962px;
    height: 0px;
    width: 962px;
    margin-top: 24px;
    border-color: rgba(209, 213, 219, 1);
    border-width: 1px;
    border-style: solid;
  }
  .div-7 {
    max-width: auto;
    justify-content: flex-start;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .div-8 {
    display: flex;
    flex-direction: column;
    max-width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    flex-grow: 0;
  }
  .div-9 {
    max-width: 952px;
    color: rgba(40, 40, 40, 1);
    font-size: 24px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Nunito Sans, sans-serif;
    padding-left: 0px;
    margin-left: auto;
    padding-right: 0px;
    margin-top: 17px;
    margin-right: auto;
  }
  .div-10 {
    display: flex;
    flex-direction: column;
    max-width: 952px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding-right: 8px;
  }
  .div-11 {
    display: flex;
    flex-direction: column;
    max-width: 944px;
    width: 100%;
    padding-right: 0px;
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(80.13% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-12 {
    display: flex;
    flex-direction: column;
    max-width: 738px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 14px;
    margin-top: 30px;
  }
  .div-13 {
    display: flex;
    flex-direction: column;
    max-width: 738px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .div-14 {
    max-width: 738px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
  }
  .div-15 {
    max-width: 738px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(21.06% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-16 {
    display: flex;
    flex-direction: column;
    max-width: 194px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-17 {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .div-18 {
    display: flex;
    flex-direction: column;
    max-width: 975px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
  }
  .div-19 {
    display: flex;
    flex-direction: column;
    max-width: 975px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(12.23% - 16px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-20 {
    display: flex;
    flex-direction: column;
    max-width: 112px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-21 {
    display: flex;
    flex-direction: column;
    max-width: 112px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-22 {
    max-width: 112px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-23 {
    max-width: 112px;
    margin-top: 8px;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(38.1% - 16px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-24 {
    display: flex;
    flex-direction: column;
    max-width: 349px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-25 {
    display: flex;
    flex-direction: column;
    max-width: 349px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .course-title-verification-cod {
    max-width: 349px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .hurts-so-swell-management {
    max-width: 349px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(19.76% - 16px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-26 {
    display: flex;
    flex-direction: column;
    max-width: 181px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-27 {
    display: flex;
    flex-direction: column;
    max-width: 181px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-28 {
    max-width: 181px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-29 {
    max-width: 181px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(17.14% - 16px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-30 {
    display: flex;
    flex-direction: column;
    max-width: 157px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-31 {
    display: flex;
    flex-direction: column;
    max-width: 157px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-32 {
    max-width: 157px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-33 {
    max-width: 157px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(13.97% - 16px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-34 {
    display: flex;
    flex-direction: column;
    max-width: 128px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-35 {
    display: flex;
    flex-direction: column;
    max-width: 128px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-36 {
    max-width: 128px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-37 {
    max-width: 128px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-38 {
    display: flex;
    max-width: 962px;
    height: 0px;
    width: 962px;
    margin-top: 24px;
    border-color: rgba(209, 213, 219, 1);
    border-width: 1px;
    border-style: solid;
  }
  .columns-2 {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
    align-self: stretch;
    margin-left: auto;
    margin-right: auto;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(34.98% - 10px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-39 {
    display: flex;
    flex-direction: column;
    max-width: px;
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(103.5% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-40 {
    display: flex;
    flex-direction: column;
    max-width: 325px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-41 {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 900px;
    padding-right: 0px;
    margin-left: -1px;
  }
  .div-42 {
    max-width: 300px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 0px;
    width: 100%;
  }
  .div-43 {
    max-width: 300px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
  }
  .comprehension-test-status-pas {
    max-width: 300px;
    margin-top: 8px;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    padding-right: 0px;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(66.2% - 10px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-44 {
    display: flex;
    flex-direction: column;
    max-width: 615px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 59px;
    width: 400px;
  }
  .div-45 {
    display: flex;
    flex-direction: column;
    max-width: 615px;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .div-46 {
    display: flex;
    flex-direction: row;
    max-width: 615px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .div-47 {
    display: flex;
    flex-direction: column;
    max-width: 184px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .div-48 {
    display: flex;
    flex-direction: column;
    max-width: 158px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-49 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 384px;
    width: 100%;
  }
  .image-3 {
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-2 {
    width: 100%;
    padding-top: 32.29166666666667%;
    pointer-events: none;
    font-size: 0;
  }
  .div-50 {
    display: flex;
    flex-direction: column;
    max-width: 615px;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 24px;
  }
  .div-51 {
    display: flex;
    flex-direction: column;
    max-width: 615px;
    margin-top: 12px;
    width: 400px;
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(59.27% - 0px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-52 {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .katrinna-r-jackson-rdh-coo-ce {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
    width: 400px;
  }
  .this-activity-has-been-planned {
    max-width: 926px;
    margin-top: 24px;
    color: rgba(40, 40, 40, 1);
    font-size: 14px;
    letter-spacing: 0%;
    text-align: left;
    font-family: Nunito Sans, sans-serif;
  }
  .div-53 {
    display: flex;
    flex-direction: column;
    max-width: 952px;
    margin-top: 24px;
    width: 100%;
  }
  .column-14 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(33.81% - 13.333333333333334px);
    margin-left: 0px;
  }
  @media (max-width: 999px) {
    .column-14 {
      width: 100%;
    }
  }
  .div-54 {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 310px;
  }
  .image-4 {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-3 {
    width: 100%;
    padding-top: 36.12903225806451%;
    pointer-events: none;
    font-size: 0;
  }
  .column-15 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(33.81% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-15 {
      width: 100%;
    }
  }
  .div-55 {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 310px;
  }
  .image-5 {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-4 {
    width: 100%;
    padding-top: 36.12903225806451%;
    pointer-events: none;
    font-size: 0;
  }
  .column-16 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: calc(33.81% - 13.333333333333334px);
    margin-left: 20px;
  }
  @media (max-width: 999px) {
    .column-16 {
      width: 100%;
    }
  }
  .div-56 {
    display: flex;
    flex-grow: 1;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 310px;
  }
  .image-6 {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer-5 {
    width: 100%;
    padding-top: 36.12903225806451%;
    pointer-events: none;
    font-size: 0;
  }
  .please-retain-this-document-fo {
    max-width: 939px;
    margin-top: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0%;
    text-align: left;
  }
  .div-57 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
    line-height: 14px;
    height: auto;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    letter-spacing: 0%;
  }
</style>